#loading-overlay {
    all: revert !important;
    background: rgba(0,0,0,0.5) !important;
    width: 100% !important; 
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    display: none !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 9999 !important;
  }
  
#loading-overlay[style*="display: flex"],
#loading-overlay[style*="display:flex"] {
    display: flex !important;
}

.loading-box {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

  .spinner {
    border: 6px solid #f3f3f3 !important;
    border-top: 6px solid #3498db !important;
    border-radius: 50% !important;
    width: 50px !important; 
    height: 50px !important;
    animation: loaderSpin 1s linear infinite !important;
  }
  
  @keyframes loaderSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  