.school-year-details {
    width: 100%;
    max-width: 800px;
    min-height: 400px;
    position: relative;
}
.view-mode-container,
.edit-mode-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.login-activity,
.archives {
    display: flex;
    justify-content: space-between;
}