h1 {
    font-family: var(--main-fonts);
}
.data-title {
    font-weight: bold;
    font-size: 3em;
    color: rgb(0,51,102);
    margin-top: 1em;
    font-family: var(--main-fonts);

}
.radio-container {
    display: flex;
}
.enrollees-by-day-container {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1.5em;
    box-shadow: -.1px -.1px 5px .1px #d0caca;
    margin-bottom: 1rem;
}
.clock-container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.8rem;
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter:  blur(100px);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: #123b69;
    width: 100%;
    border-radius: 5px;
}
.enrollee-by-day {
    width: 100% !important;
    height: 27rem !important;
}
.enrollees-by-day-container label {
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: #f4f4f4;
    border-radius: 0.2rem;
    cursor: pointer;
}
.enrollees-by-day-container label:has(input[type=radio]:checked) {
    background: #000;
    color: white;
}
.data-title a {
    cursor: pointer;
}
.data-title a:hover {
    color: #fff;
}
.border-50 {
    position: relative;
}
.enrollee-data-wrapper {
    background: #f7f5f5;
    padding: 1rem;
}
.border-50::after {
    content: '';
    position: absolute;
    left: 127%;
    top: 10%;
    height: 50%;
    border-right: 1px solid rgba(0, 51, 102, 0.7);
}
.dashboard-hyperlinks {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
.all-hyperlinks-wrapper {
    flex: 1;
    text-decoration: none;
    color: inherit;
}
.all-enrollees-count, .all-students-count, .all-denied-follow-up-count {
    padding: 20px;
    background-color: white;
    transition: background-color 0.3s ease;
    width: 100%;
    box-shadow: -.1px -.1px 5px .1px #d0caca;
    border-radius: 5px;
}
.all-enrollees-count:hover, .all-students-count:hover, .all-denied-follow-up-count:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
.card-container {
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: space-evenly;
}
.chart-loading {
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
    width: 30%;
}
.card {
    display: none;
    background-color: white;
    padding: 1em;
    width: 100%;
    height: 25em;
    box-shadow: -.1px -.1px 5px .1px #d0caca;
    border-radius: 5px;
}
.card-4 {
    flex-wrap: wrap;
}

.number-div {
    align-self: center;
    justify-self: center;
    padding-right: 1em;
}

.card-image {
    height: fit-content ;
}

.card-text {
    padding-top: 1em;
    text-align: center;
    font-weight: 600;
    font-size: smaller;
}
.data-link-title {
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(0,51,102);
    padding: 1em 0em;
}
.total-count {
    font-size: 3em;
    font-weight: bold;
    font-family: "Baloo-Thambi-2";
    color: #123b69;
}
.number {
    font-weight: 900;
    font-size: 1.5em;
    height: 3em;
    font-size: 1.7em;
}
.pending-enrollments-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.big-card-wrapper {
    display: flex;
    background: #f7f5f5;
    padding: 1rem;
    margin: 1rem;
}


.big-card-title {
    font-weight: 900;
    font-size: 1.5rem;
    font-family: 'Baloo-Thambi-2';
    padding: .5rem;
    color: rgb(0,51,102);
}
.big-card-hyperlink {
    background-color: #123b69;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    height: 50%;
    margin-top: .6em;
}
.big-card-hyperlink:hover {
    background-color: rgb(0,51,102);
}
.post-announcements-title {
    border: none;
}

.pending-enrollments-wrapper, .quick-actions-wrapper {
    background-color: white;
    margin: 1em;
    width: 40em;
    box-shadow: -.1px -.1px 5px .1px #d0caca;
    border-radius: 5px;
}

.pending-enrollments-table {
    width: 100%;
    border-spacing: 3em;
    border-top: 3px rgba(241, 189, 34, 0.3) solid;

}

tr:nth-child(even) {
    background-color: rgba(169, 191, 211, 0.5);
}

.pending-enrollments-table, th, tr, td {
    font-size: 1.05em;
    padding: .5em;
    font-family: var(--main-fonts);
}

.big-card-header {
    display: flex;
    border-bottom:3px rgba(241, 189, 34, 0.3) solid ;
}

.edit-btn {
    position: relative;
    left: 50%;
}




.quick-actions-wrapper li {
    font-family: var(--main-fonts);
    list-style: none;
    font-size: 1.2em;
    padding: 0.5em;
    border-bottom: #000;
}

.quick-actions-wrapper li:hover {
    color: wheat;
    background-color: #46413b;
    cursor: pointer;
}

.quick-action-card h3 {
    font-family: "Baloo-Thambi-2";
    font-size: 1.5em;
    font-weight: 900;
    padding: 1em;
    color: rgb(0,51,102);
    padding: .7em;
}

.quick-actions-wrapper ul {
    border-top: 3px rgba(241, 189, 34, 0.3) solid;
}

#img {
    width: 100%;
    height: 4em;
    object-fit: cover;
}
@media(max-width: 1920px) {
    .card {
        width: 90%;
    }
    .enrollee-data-wrapper {
        margin: 1rem;
    }
}