.main-content {   
    transition: margin-left 0.3s ease;
    background-image: url("../../imgs/paper.jpg");
    font-family: var(--main-fonts);
}

.content {
    width: 45vw;
    height: 90vh;
    display: flex;
    justify-self: center;
}

.shadow-container {
    position: relative;
    display: inline-block;
    padding: 0;
    border-radius: 1.5em;
    background-clip: padding-box;

  }
  
  .shadow-container::before {
    content: "";
    position: absolute;
    top: -20px; left: -20px; right: -20px; bottom: 0px;
    filter: blur(60px);
    border-radius: 2em;
  }
  
  .title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3e9ec4;
    border: 1px solid var(--card-border);
    backdrop-filter: blur(15px) saturate(180%);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 8px 30px rgb(0 0 0 / 14%);
    margin-bottom: 1.5rem;
    justify-content: center;
    justify-self: center;
  }

  /* Inner box */
  .wrapper {
    position: relative;
    height: 75vh;
    z-index: 0;
    background: rgb(36 186 255 / 28%);
    padding: 1.5em;
    border-radius: 1.25em;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgba(62, 158, 196, 0.5) transparent;
    overflow-y: scroll;
  }
.scroll-container {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */ 
}
.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome,
     Safari, and Opera */
}
table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    width: 40vw;
}
.table-container td {
    text-align: left;
    padding: 10px;
    border-top: 1px solid rgba(63, 166, 210, 0.897);
    vertical-align: middle;
}
.button {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

th, td {
  text-align: left;
  padding: 8px;
}
.enrollee-link {
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: rgb(76, 76, 255);
    text-decoration: underline;
    cursor: pointer;
}
td a:hover {
    color: rgb(0, 0, 200);
}
.Check-Status {
    display: block;
    text-align: center;
    border-radius: 20px;
    /* background-color: #073f88; */
    color: white;
    width: 88%;
    padding: .5em;
    /* border: #1d421e 1px solid; */
    background: rgb(0 255 8 / 28%);
    color: #315e37f2;
    border: 1px solid #00b017f2;
    justify-self: center;
}

.Check-Status:visited {
    color: #315e37f2;
}

.Check-Status:hover {
    background-color: rgba(80, 255, 36, 0.195);
    cursor: pointer;
    color:  rgba(0, 186, 9, 0.647);
    border: 1px solid #00c42af2;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    justify-self: center;
    width: 85%;
}

.wrapper tr:hover td {
    color: var(--hover-accent);
    transition: all 0.25s ease-in-out;
}

tr:nth-child(odd) {background-color: transparent;}

tr:nth-child(even) {background: rgb(71 168 255 / 8%);}

.title {
  text-align: center;
  color: #ffffff; 
  font-size: 24px;
  margin-bottom: 8px;
  font-family: var(--main-fonts);
  font-weight: 600;
  letter-spacing: 1px;
}
